<div class="app">
  <div class="text-container" id="text-container">
    <p class="title" id="title" *ngIf="title">Time to {{ title }}</p>
    <p class="date" id="date" *ngIf="date"></p>
  </div>

  <form>
    <div class="input-container">
      <label for="titleInput">Title</label>
      <input
        type="text"
        id="titleInput"
        placeholder="Midsummer Eve"
        (change)="onTitleInput($event)"
        value="{{ title }}"
      />
    </div>
    <div class="input-container">
      <label for="dateInput">Date</label>
      <input
        type="date"
        id="dateInput"
        (change)="onDateInput($event)"
        value="{{ date | date: 'yyyy-MM-dd' }}"
        min="{{ tomorrow | date: 'yyyy-MM-dd' }}"
      />
    </div>
  </form>
</div>
